<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Fila anidada dentro del cuerpo de la tarjeta -->
                    <div class="row">
                    <!--<div class=" col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                        <img src="/img/login23.jpg">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">!Hello¡ Bienvenido a MacroTech.Proyect!</h1>
                                </div>
                                <div th:if="${param.error}">
                                   Usuario o contraseña no válidos
                                </div>
                                <div th:if="${param.logout}">
                                    Gracias por tomar prestamos con nosotros.
                                </div>
                                <form th:action="@{/login}" method="post" class="user">

                                    <div class="form-group">
                                        <input required type="email" name="username" class="form-control form-control-user"
                                               aria-describedby="emailHelp"
                                               placeholder="Ingrese su usuario">
                                    </div>
                                    <div class="form-group">
                                        <input required type="password" name="password" class="form-control form-control-user"
                                               placeholder="Ingrese su contraseña">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Ingresar
                                    </button>
                                    <hr>
                                </form>

                                <hr>
                                <!--<div sec:authorize="!isAuthenticated()">
                                    <a th:href="@{/oauth2/authorization/auth0}" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login con Auth0
                                    </a>
                                </div>

                                <div sec:authorize="isAuthenticated()">
                                    <a class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Ingresar a la plataforma
                                    </a>
                                </div>-->
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-pasword.html">¿olvido su, CONTRASEÑA?.</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="../registro/nuevo">Eres nuevo, REGISTRESE AQUI.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>